<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586878367404-067354068peaab168oivsoj8q1ejff4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586878367404-067354068peaab168oivsoj8q1ejff4q</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ86bF_9AXnti3fzCoLJF2k2DJB0TMOio</string>
	<key>GCM_SENDER_ID</key>
	<string>586878367404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cloudseven7.Poke-Go-Catcha-</string>
	<key>PROJECT_ID</key>
	<string>pokefinder-8dc32</string>
	<key>STORAGE_BUCKET</key>
	<string>pokefinder-8dc32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586878367404:ios:dd96fce8802b2c2be25109</string>
	<key>DATABASE_URL</key>
	<string>https://pokefinder-8dc32.firebaseio.com</string>
</dict>
</plist>